body {
  margin: 0;
  color: rgba(0, 0, 0, 0.88);
  font-family: 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;
  font-size: 1vw;
  line-height: 1.8;
  word-break: break-word;
  padding-top: 5vh;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5vh;
  background: #f5f5f5;
}

.transcript {
  font-style: italic;
}

.audio3 {
  width: 20vw;
}

.audio4 {
  width: 15vw;
}

